<h1>Hello Students</h1>
<p>This is a place for you to learn and practice English with other students</p>

<%= link_to 'Texts', controller: 'texts' %>
<p>Find me in app/views/initial_page/index.html.erb</p>
